<div class="row">
    <div class="col-sm-3">
        <account collateral-account-list="$ctrl.collateralAccountList" 
	        security-section-enable="$ctrl.showSecuritySection()"
	        show-position-flag="$ctrl.showPositionFlag" 
		  	selected-account-list="$ctrl.selectedAccountList" loan="$ctrl.loan"></account>
    </div>
    <div class=" col-sm-8">
        <security security-details="$ctrl.securityDetails" 
        show-position-flag="$ctrl.showPositionFlag" loan="$ctrl.loan"></security>
    </div>
</div>
