@import './node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import './node_modules/ui-select/dist/select';

@import '_ui-overrides';

.listbox {
	overflow-y : scroll;
	height : 300px;
	margin-bottom:20px;
}

.footer-margin {
  margin-bottom: 61px;
}

.footer-line-height {
    line-height: 49px;
}

.text-disabled {
    color: #ccc;
}