<div class="container-fluid">
    <div class="row text-center">
        <h1>Loan Listing</h1>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 table-responsive">
            <table class="table table-hover table-striped text-center">
                <thead>
                    <tr id="position-header">
                        <th>Loan Number</th>
                        <th>Loan Status</th>
                        <th>Outstanding</th>
                        <th>Amt. Avl To Borrow</th>
                        <th>Margin Call Amt.</th>
                        <th>Margin Call Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="loan in $ctrl.loanList" class="info">
                        <td><a id="link-3" ng-click="$ctrl.navigateToLoanDetails(loan.id)">{{loan.id}}</a></td>
                        <td>{{loan.status}}</td>
                        <td>{{loan.outstanding}}</td>
                        <td>{{loan.amountAvailableToBorrow}}</td>
                        <td>{{loan.marginCallAmount}}</td>
                        <td>{{loan.marginCallDueDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
