<nav class="navbar navbar-default col-sm-offset-2 col-sm-8">
    <div class="container-fluid">
        <div class="text-center text-muted">
            <h3><b>Loan Listing</b></h3>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 table-responsive">
            <table class="table table-bordered table-striped ">
                    <thead>
                        <tr>
                            <th>Loan Number</th>
                            <th>Loan Status</th>
                            <th>Outstanding</th>
                            <th>Amt. Avl To Borrow</th>
                            <th>Margin Call Amt.</th>
                            <th>Margin Call Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="loan in $ctrl.loanList">
                            <td><a id="link-3" ng-href="/loandetails/{{loan.id}}">{{loan.id}}</a></td>
                            <td>{{loan.status}}</td>
                            <td>{{loan.outstanding}}</td>
                            <td>{{loan.amountAvailableToBorrow}}</td>
                            <td>{{loan.marginCallAmount}}</td>
                            <td>{{loan.marginCallDueDate}}</td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>
